<!DOCTYPE html>
    <html>
        <head>
            <title>nest-project</title>
            <link rel="stylesheet" href="../public/css/styles.css">
        </head>
    <body>
        <div style="margin-bottom: 3%;" class="top-menu">
            <a href="/">Home</a>
            <a href="/articles">Forum</a>
            <a href="/chat">Chat</a>
            <a href="/user">My page</a>
        </div>

        <h1><%= user.id %></h1>
        <section class="chat-main" >
            <div class="chat">
                <div id="chat-content">
                </div>
                <table width="100%" class="chat-bottom">
                    <tr>
                        <td width="70%">
                            <textarea id="chat-type">
                            </textarea>
                        </td>
                        <td width="20%">
                            <button type="button" id="chat-button" onclick="sendMsg()">Send</button>
                        </td>
                    </tr>
                </table>
            </div>

            <table class="chat-user-list">
                <tr style="width: 100%;">
                    <td style="width: 100%;">
                        <div class="chat-user">
                            a
                        </div>
                    <td>
                <tr>
                <tr>
                    <td>
                        <div class="chat-user">
                            b
                        </div>
                    <td>
                <tr>
            </table>
        </section>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="../public/javascript/socket_io.js"></script>
    </body>
</html>

