<!DOCTYPE html>
    <html>
        <head>
            <title>nest-project</title>
            <link rel="stylesheet" href="../public/css/styles.css">
        </head>
    <body>
        <div style="margin-bottom: 3%;" class="top-menu">
            <a href="/">Home</a>
            <a href="/articles">Forum</a>
            <a href="/chat">Chat</a>
            <a href="/user">My page</a>
        </div>

        <section class="chat-main" >
            <div class="chat">
                <div style="text-align: center;">
                    <h1><%= user.id %>'s messages</h1>
                </div>
                <div id="chat-content">
                </div>
                <table width="100%" class="chat-bottom">
                    <tr>
                        <td width="70%">
                            <textarea id="chat-type"></textarea>
                        </td>
                        <td width="20%">
                            <button type="button" id="chat-button" onclick="sendMsg('<%= user.id %>')" >Send</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="user">
                <div style="text-align: center;">
                    <h1>Participants</h1>
                </div>
                <div>
                    <div class="chat-user-list" id="chat-user-list">
                    </div>
                </div>
            </div>
        </section>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="../public/javascript/socket_io.js"></script>
    </body>
</html>

