body {
    background-color: #444653;
    font-family: Arial, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: white;
}

.top-menu {
    background-color: #333;
    color: #fff;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}

.top-menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 25%
}

.content-section {
    /** flex property enables items to be aligned along with x axis. 
     * Each item occupies its own width length. */
    display: flex;
    /* justify-content property aligns the items to be in the middle horizontally.
     */
    justify-content: center;
    /* align-items aligns the items to be in the middle vertically.
     */
    align-items: center;
    /* flex-direction specifies the direction of the flexible items.
     */
    flex-direction: column;
    background-color: #333;
    width: 94%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  /*
  height: 100vh;
  */

}

.item-container {
    display: flex;
    align-items: center;
    width: 100vh;
    height: 100%;
    flex-direction: column;
}

.item-box {
  /* Add styles for item boxes */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 80%;
}

.item-box a {
  /* Add styles for item links */
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-row {
    text-align: center;
    border: solid 1px white;
}

.table-column {
    border: solid 1px white;
    height: 10%;
}

.table-head-item {
    border: solid 1px white;
    height: 20%;
}

.table-head-item:nth-child(1) {
    width: 10%;
}

.table-head-item:nth-child(2) {
    width: 65%;
}

.table-head-item:nth-child(3) {
    width: 15;
}
.table-head-item:nth-child(4) {
    width: 10%;
}

.board {
    margin-top: 3%;
    border: solid 1px white;
    width: 90vw;
    height: 70vh;
}

#title {
    width: 80vh;
    height: 3vh;
}

#content {
    width: 80vh;
    height: 45vh;
}

.field-title {
    width: 100vh;
    height: 15vh;
    text-align: center;
    margin-bottom: 2vh;
}

.field-content {
    width: 100vh;
    height: 60vh;
    text-align: center;
    margin-bottom: 2vh;
}

.field-button {
    display: flex;
    justify-content: center;
    width: 10vw;
    height: 5vh;
}

button {
    margin-top: 2%;
    width: 100%;
    height: 80%;
    border-radius: 50px;
    background: black;
    color: white;
    display: inline-block;
}

.board-row {
}

.board-row:nth-child(1) {
    height: 2vh;
}

.board-row:nth-child(2) {
    height: 2vh;
}

.board-row:nth-child(3) {
    height: 10vh;
}

.board-column {
    border: solid 1px white;
}

.article-comment {
    border: solid 1px white;
    width: 90%;
    margin-bottom: 2%;
}

.article-comment-row {
    border: solid 1px white;
}

.article-comment-column {
    border: solid 1px white;
}

.article {
    margin-top: 3%;
    margin-bottom: 2%;
    border: solid 1px white;
    width: 90%;
    height: 70%;
}

.article-row {
}

.article-row:nth-child(1) {
    height: 10%;
    font-size: 3em;
}

.article-row:nth-child(2) {
    height: 10%;
    font-size: 1.5em;
}

.article-row:nth-child(3) {
    height: 60%;
    font-size: 2em;
}

.article-row:nth-child(4) {
    height: 20%;
}

#comment {
    width: 70%;
}

#comment-button {
    width: 30%;
}

#comment-text {
    width: 99%;
    height: 90%
}

.article-column {
    border: solid 1px white;
}

.article-button {
    width: 90%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
}

.article-button-column {
    width: 10%;
    height: 5%;
}

.hidden {
    display: none;
}

.pagination {
    display: flex;
}

.main {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80vw;
    height: 80vh;
}

.main tr {
}

.main td {
    font-size: 5rem;
    border: solid 1px white;
    text-align: center;
}

.sign-up {
    background-color: #333;
    width: 40%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.sign-up tr {
    margin-left: auto;
    margin-right: auto;
}

.sign-up td {
    text-align: center;
}

.sign-up input {
    width: 90%;
    height: 2rem;
    font-size: 1rem;
    margin-top: 5%;
}

.sign-up button {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 1rem;
    width: 90%;
    height: 2rem;
}
