<!DOCTYPE html>
    <html>
        <head>
            <title>nest-project</title>
            <link rel="stylesheet" href="../public/css/styles.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        </head>
    <body>
        <div class="top-menu">
            <a href="/">Home</a>
            <a href="/articles">Forum</a>
            <a href="#">One</a>
            <a href="#">Two</a>
        </div>
        </br></br>

        <section class="content-section">
            <h1>User Profile</h1>
            <table class="user-profile">
              <% for (const key in user) { %>
                <tr>
                    <td>
                        <a><strong><%= key %>:</strong></a>
                    </td>
                    <td>
                        <a><%= user[key] %></a>
                    </td>
                </tr>
              <% } %>
            </table>
        <button type="button" id="logOut" onclick="signOut()">Log out</button>
        </section>
        <script src="../public/javascript/script.js"></script>
    </body>
</html>

